*{
  margin: 5px;
  box-sizing: border-box;
    }
    body{
      height:95vh;
      background: rgb(30, 175, 223);
      font-family:sans-serif;
      text-align: center;
      color: white;
      font-size:24px;
      display: flex;
      flex-direction: column;

    }
    header{
      background: blue;
      padding: 2em 0 2em 0;
    }header{
      background: blue;
      padding: 2em 0 2em 0;
    }
    
    #container {
      background-color: rgb(0, 0, 0);
      padding: 2%;
      margin: auto;
      width: 80%;
  }
    
    
    .left{
      background: blue;
      padding: 3em 0 3em 0;
      flex: 1 1 100px;
    }
    .main{
      display:flex;
      flex:1;
      flex: 5 5 150px;
    }
    .right{
      background: blue;
      padding: 3em 0 3em 0;
      flex: 1 1 100px;
    }
    footer{
      background: blue;
      padding: 1em 0 1em 0;
     
    }
   
    .intro {
      margin: 30px 0px;
      font-weight: bold;
    }
    
    h1 {
      color: #ffffff;
      text-transform: uppercase;
      font-weight: 800;
    }
    
    p {
      font-weight: 600;
    }
    
    #first {
      margin-top: 10px;
      color: #FFCD5D;
    }
    
    #second {
      color: #51DF70;
    
    }
    
    #third {
      color: #025F70;
      margin-bottom: 30px;
    }
    
    
    #enter {
      border: none;
      padding: 5px 15px;
      border-radius: 5px;
      color: #04A1BF;
      background-color: #025F70;
      transition: all 0.75s ease;
      -webkit-transition: all 0.75s ease;
      -moz-transition: all 0.75s ease;
      -ms-transition: all 0.75s ease;
      -o-transition: all 0.75 ease;
      font-weight: normal;
    }
    
    #enter:hover{
      background-color: #02798F;
      color: #FFCD5D;
    }
    
    ul {
      text-align: left;
      margin-top: 20px;
    }
    
    
    li {
      list-style: none;
      padding: 10px 20px;
      color: #ffffff;
      text-transform: capitalize;
      font-weight: 600;
      border: 2px solid #025f70;
      border-radius: 5px;
      margin-bottom: 10px;
      background: #4EB9CD;
      transition: all 0.75s ease;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5 ease;
    }
    
    li:hover {
      background: #76CFE0;
    }
    
    li > button {
      font-weight: normal;
      background: none;
      border: none;
      float: right;
      color: #025f70;
      font-weight: 800;
    }
    
    input {
      border-radius: 5px;
      min-width: 65%;
      padding: 5px;
      border: none;
    }
    
    
    .done {
      background: #51DF70 !important;
      color: #00891E;
    }
    
    .delete {
      display: none;
    }








    @media all and (max-width: 550px){
     
      .main{
          flex-direction:column;
      }
      main{
      padding: 5em 0 5em 0;
  }
    }
    